<div class="intro">
  <p >
    Add Value To Your Venture With Ease
  </p>
<i class="fa fa-angle-double-down fa-2x"></i>
  <p>
    Contact_us<br>

      Tell us what you have in mind<br>
    We then assign the best suited for your project

  </p>
<i class="fa fa-angle-double-down fa-2x"></i>
  <p>
We_make | We_host | we_maintain | we_upgrade <br>
...all the while keeping you in the loop
  </p>
<i class="fa fa-angle-double-down fa-2x"></i>
  <p>
Experience the Value of Ease
  </p>
  <i class="fa fa-hand-spock-o fa-2x"></i>
</div>
