
<div class="row">
  <h3 align="center">Wiki</h3>
  <div class="col-md-1">
  <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
</div>
  </div>
  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                WebSite definition
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <ul>
            <li>This is more of a ‘poster/billboard’ designed to get static information out there.</li>
            <li>Static means that this kind of information is not likely to change in the next; considerable time.</li>
            <li>Some websites are really advanced though.</li>
            <li>They allow you to set up a poster that can contact/subscribe to static information.</li>
            <li>We do that.</li>
          </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                WebApp definition
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <ul>
            <li>This is an interactive App(application); working/based on the Web.</li>
            <li>Interactive means that a user can actually do stuff like call, keep/create/edit records, shop, poke other social beings on the same App  and such like.</li>
            <li>The web part means that it’s interface is largely borrowed from website looks.</li>
            <li>Some are indistinguishable from websites.</li>
            <li>Other have different looks all simultaneously working from the same application; mobile, desktop and those in-betweens.</li>
            <li>We love doing that.</li>
            </ul>
          </div>
        </div>
      </div>


      </div>
  </div>
  <div class="col-md-1">
<i class="fa fa-facebook"></i> | <i class="fa fa-twitter"></i> | <i class="fa fa-envelope"></i>

  </div>
</div>
