
<div class="row">
  <h3 align="center">Wiki</h3>
  <div class="col-md-1">
  <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
</div>
  </div>
  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                WebSite definition
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p>This is more of a ‘poster/billboard’ designed to get static information out there.</P>
            <p>Static means that this kind of information is not likely to change in the next; considerable time.</P>
            <p>Some websites are really advanced though.</P>
            <p>They allow you to set up a poster that can contact/subscribe to static information.</P>
            <p>We do that.</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                WebApp definition
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <p>This is an interactive App(application); working/based on the Web.</P>
            <p>Interactive means that a user can actually do stuff like call, keep/create/edit records, shop, poke other social beings on the same App  and such like.</P>
            <p>The web part means that it’s interface is largely borrowed from website looks.</P>
            <p>Some are indistinguishable from websites.</P>
            <p>Other have different looks all simultaneously working from the same application; mobile, desktop and those in-betweens.</p>
            <p>We love doing that.</P>
          </div>
        </div>
      </div>


      </div>
  </div>
  <div class="col-md-1">
<i class="fa fa-facebook"></i> | <i class="fa fa-twitter"></i> | <i class="fa fa-envelope"></i>

  </div>
</div>
