
<div class="row">
  <h3 align="center">Wiki</h3>
  <div class="col-md-2">

    quick <br />
    links

  </div>
  <div class="col-md-9">
    <div class="well well-sm">
      <p>Computers are basically a bunch of 1's and 0's. We really get surprised by the stigma it gets for 'complicated'</p>
      <p>Then there are concepts mentioned somewhere else in this site but due to content structure, has to be wrangled here.
      <br />So, we ellaborate them in details using the familiar blog format.
      </P>
      <p>We are human, so we brag; in a nice way though. ...and some projects might be just too interesting to be left un-praised<br />
        guess where we put the brag...
      </p>
    </div>

  </div>
  <div class="col-md-1">
social<br />
links
  </div>
</div>
