
<div class="row">
  <h3 align="center">Wiki</h3>
  <div class="col-md-1">
  <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
</div>
  </div>
  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                WebSite
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <ul>
            <li>This is more of a ‘poster/billboard’ designed to get static information out there.</li>
            <li>Static means that this kind of information is not likely to change in the next; considerable time.</li>
            <li>Some websites are really advanced though.</li>
            <li>They allow you to set up a poster that can contact/subscribe to static information.</li>
            <li>We do that.</li>
          </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                WebApp
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <ul>
            <li>This is an interactive App(application); working/based on the Web.</li>
            <li>Interactive means that a user can actually do stuff like call, keep/create/edit records, shop, poke other social beings on the same App  and such like.</li>
            <li>The web part means that it’s interface is largely borrowed from website looks.</li>
            <li>Some are indistinguishable from websites.</li>
            <li>Others have different looks all simultaneously working from the same application; mobile, desktop and those in-betweens.</li>
            <li>We love doing those.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Host/Hosting
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul>
            <li>This is the facility running your project</li>
            <li>It like a big-brother version of your computer</li>
            <li>There for your clients and/or public</li>
            <li>It costs because; like your computer, it requires resources and skill to run</li>
            <li>Electricity, Internet-connectivity, (Storage,Processing), URL</li>
            <li>Skill</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                URL
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <ul>
            <li>Uniform Resourse Locator</li>
            <li>It is a human readable/rememberable name that connects to a very complex system of IP's to point it to your 'computer'; above</li>
            <li>IP(Internet Protocol) address generally in the form of ***.***.***.*** </li>
            <li>* ==> numeric (0-9)</li>
            <li>That's version four</li>
            <li>Version Six Exists</li>
            <li>Will tell you more once we find out what happened to version 5; if you do, contact_us </li>
            </ul>
          </div>
        </div>
      </div>


      </div>
  </div>
  <div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>

  </div>
</div>
