<div class="row">
  <h3  align='center'>How_We_Work</h3>
  <div class="col-md-1">
  <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
  </div>

  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseYtr" aria-expanded="false" aria-controls="collapseYtr">
          Contact_us
      </a>
    </h4>
  </div>
  <div id="collapseYtr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingYtr">
    <div class="panel-body">
      <ul><li>Let us know what you have in mind</li></ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Get notified on work start.
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul>
        <li>You get an engineer/team fully responsible to your project</li>
        <li>Decide on how you will be communicating</li>
        <li>Let us know in case you do not like any part of this arrangement</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Decide on a design
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <ul>
        <li>Get to modify and re-make </li>
        <li>Have complete freedom experessing your needs</li>
        <li>Ask for in house suggestions</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        We get down to work
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <ul>
        <li>You will get looped on everything </li>
        <li>Slight modifications </li>
        <li>Aplha-testing</li>
      </ul>
      ...you will have a copy of the timeline: upon request (on select projects).
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingeleven">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
        Beta-Testing
      </a>
    </h4>
  </div>
  <div id="collapseEleven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingeleven">
    <div class="panel-body">
      <ul>
        <li>Get a staging site for your project</li>
        <li>Get minor changes effected</li>
        <li>Pay the agreed deposit(normaly 60%) </li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingtwelve">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
        We Launch It
      </a>
    </h4>
  </div>
  <div id="collapseTwelve" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingtwelve">
    <div class="panel-body">
      <ul>
        <li>Complete the payment balance</li>
        <li>Get subscribe to our support mail for burst reports(monthly)</li>
        <li>Keep looking for ideas on making the project better </li>
      </ul>
    </div>
  </div>
</div>


</div>

  </div>
  <div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>
  </div>
</div>
