<div class="row">
  <h3  align='center'>Our_Philosophy</h3>
  <div class="col-md-1">
  <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
  </div>

  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseYtr" aria-expanded="false" aria-controls="collapseYtr">
          Web apps for everyone, now!
      </a>
    </h4>
  </div>
  <div id="collapseYtr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingYtr">
    <div class="panel-body">
      <ul><li>budget regardless</li></ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Our work ethic is stream-lined to ensure efficiency and value
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul>
        <li>project metric is standard across the board(all projects)</li>
        <li>support is on 24/7</li>
        <li>human interaction is valued; you get an engineer to work with you from start-end</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         When you contact us; matters
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <ul>
        <li>We are using a first_come-first_served queue system</li>
        <li>We are most efficient when all of us are on a work-day (mon-frdy)</li>
        <li>we are least efficient on global holidays (our labor is not location based)</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        About timing; we have but simple rules
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <ul>
        <li>When you contact us matters because;</li>
        <li>First-come; First-served. </li>
        <li>Project start-finish time is varied because;</li>
        <li>smaller ones take shorter time and bigger ones take more time. </li>
      </ul>
      ...you will have a copy of the timeline: upon request (on select projects)
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Our pricing; please read more on this here
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <ul>
        <li>Is Value Centered.</li>
        <li>Listed Prices are Inclusive of One-Year-Hosting fee.</li>
        <li>For Continual Upkeep, Please Contact Us </li>
      </ul>
    </div>
  </div>
</div>

</div>

  </div>
  <div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>
  </div>
</div>
