<div class="row">
  <h3 align='center'>Our_Philosophy</h3>
  <div class="col-md-2">

    quick <br />
    links

  </div>

  <div class="col-md-9">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFive">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Web apps for everyone, now!
      </a>
    </h4>
  </div>
  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
    <div class="panel-body">
      budget regardless
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Our work ethic is stream-lined to ensure efficiency and value
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <ul>
        <li>project metric is standard across the board(all projects)</li>
        <li>support is on 24/7</li>
        <li>human interaction is valued; you get an engineer to work with you from start-end</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         When you contact us; matters
      </a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
    <div class="panel-body">
      <ul>
        <li>We are using a first_come-first_served queue system</li>
        <li>We are most efficient when all of us are on a work-day (mon-frdy)</li>
        <li>we are least efficient on global holidays (our labor is not location based)</li>
      </ul>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        About customer priority; we have but simple rules
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <ul>
        <li>Where you come from</li>
        <li>Who you are</li>
        <li>'What' you are in society</li>
      </ul>
      ...have no effect on pricing or queue sequence
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingOne">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Our pricing; please read more on this here
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      <ul>
        <li>Is not constant; the economic environment affects us</li>
        <li>The terms at the project-start are maintained static (unless the project is modified on request)</li>
        <li>We strive our best to stay up-to-date and bring more value to you</li>
      </ul>
    </div>
  </div>
</div>

</div>

  </div>
  <div class="col-md-1">
social<br />
links
  </div>
</div>
