<div class="row">
  <div class="col-md-2">
    quick <br />
    links
  </div>
  <div class="col-md-9">
<%= @project.d_pic %>
<%= @project.name %>
<%= @project.description %>
</div>
<div class="col-md-1">
social<br />
links
</div>
</div>
