
@import "bootstrap-sprockets";

@import "bootstrap";


//stuff that guys like for some wierd reason; I am one of them.

.btn {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.16), 0 17px 50px 0 rgba(0,0,0,0.19);

    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn:hover {
  background-color: #4CAF50; /* Green */
  opacity: 0.7;
}
// for some reason; I was lazy to impliment a contact database
.hidden { display: none; }

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
//excuse ends here; gladly
